.menu-item {
  margin: 0 auto;
  background-image: url("public\assets\iteration-1\home-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080.53px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.menu-header {
  display: flex;
  justify-content: center;
  color: #FAF7F2;
  display: flex;
  font-size: 3.2em;
  font-family: system-ui;
  line-height: 1.1;

}

.menu-par {
  margin: 20px;
  display: flex;
  font-size: 5.5rem;
  font-family: Roboto Condensed;
  text-align: center;
  color: #FAF7F2;
}

.btn1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: Barlow;
  background: #fdc913;
  width: 150px;
}


.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.container img {
  width: 45px;  
  height: 45px; 
  margin: 1rem;  
}

.menu-item2 {
  margin: 0 auto;
  background-image: url("public\assets\iteration-2\cta\kart-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 80px;
}

.menu-header2 {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: #FAF7F2;
  font-size: 7em;
  font-family: Quatrocento;
  line-height: 1.1;

}

.menu-par2 {
  color: #FAF7F2 ;
  font-size: 2.1em;
}

.btn2 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 1em 1.6em;
  font-size: 1em;
  font-weight: 700;
  font-family: Barlow;
  background: #FAF7F2;
  color: #ce2829;
  width: 150px;
}

.menu-item3 {
  margin: 30px auto;
  background-image: url("public\assets\iteration-2\cta\kart-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 80px;
}

.menu-header3 {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: #FAF7F2;
  font-size: 5em;
  font-family: Quatrocento;
  line-height: 1.1;

}

.menu-item4 {
  margin: 30px auto;
  background-image: url("public\assets\iteration-2\cta\kart-3.png");
  background-size: 10%;
  background-position: center;
  background-repeat: no-repeat;
  border-color: #ce2829;
  border-radius: 20px;
  height: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 80px;
}

.menu-header4 {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  text-align: left;
  color: #292929;
  font-size: 4em;
  text-align: left;
  font-family: Quatrocento;
  line-height: 1.1;

}

.menu-header4 .red-text {
  color: #ce2829;
}

.btn3 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border: 2px solid transparent;
  padding: 1em 1.6em;
  font-size: 1em;
  font-weight: 700;
  font-family: Barlow;
  background: #FAF7F2;
  color: #ce2829;
  width: 150px;
}
